@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #aed2fd;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: rgb(56, 163, 240);
    padding: 1%;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Adjust as needed for spacing between items */
  list-style-type: none; /* Optional: Remove default bullet points */
  padding: 10px; /* Optional: Remove default padding */
  margin: 20px; /* Optional: Remove default margin */
  cursor: pointer;
}

li:hover {
  /* Add any specific styling for your list items here */
  text-decoration: overline white;
}

.stats-container {
    display: flex;
}

.stats-card {
    background-color: #f4f7fd;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(234, 254, 255);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover { 
    cursor: pointer;
    box-shadow: 0 0 30px rgb(10, 18, 20);
}